version: 2
updates:
  # Go dependencies
  - package-ecosystem: "gomod"
    # Where to look for the go.mod file
    directory: "/"
    # Use '0' to disable the opening of pull requests
    open-pull-requests-limit: 5
    # Add labels to pull requests
    labels:
      - "dependencies"
    schedule:
      # how often to look for updates
      interval: "monthly"
      # what day to use for opening new requests
      day: "monday"
      # check for updates at 0hrs UTC
      time: "00:00"
    # Only manage direct dependencies
    allow:
      - dependency-type: "direct"
    # Ignore specific dependencies
    ignore:
      - dependency-name: "google.golang.org/genproto"
      # Avoid breaking changes with gRPC gateway
      - dependency-name: "github.com/grpc-ecosystem/grpc-gateway/v2"
      # Avoid breaking changes with gRPC
      - dependency-name: "google.golang.org/grpc"
        versions: ["v2.x"]
      # Avoid breaking changes with unstable OTEL packages
      - dependency-name: "go.opentelemetry.io/*"
        versions: ["v0.x", "v1.x"]
    # Configure commit messages
    commit-message:
      # Prefix all commit messages with "dependencies"
      prefix: "dependencies"
  # Github Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
