# Generals
.DS_Store
.idea
.vscode

# Deps
vendor/**

# Buf dependencies; updated with: `buf export --all -o .buf-deps`
.buf-deps

# NodeJS
node_modules
package-lock.json
build

# PKI
*.crt
*.csr
*.cer
*.pem
*.key
!**/testdata/*.cer
!**/testdata/*.pem

# Secret files
**/*secret_*

# Code coverage reports
coverage.*

# CodeQL
.codeql
